@import "tailwindcss";

@layer base {
  :root {
    --white: #ffffff;
    --black: #000000;
    --transparent: transparent;
    --blue-500: #3b82f6;
    --indigo-300: #a5b4fc;
    --blue-300: #93c5fd;
    --violet-200: #ddd6fe;
    --blue-400: #60a5fa;
  }

  body {
    @apply bg-slate-950 text-slate-100 antialiased font-sans selection:bg-indigo-500/30 selection:text-indigo-200 overflow-hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }
}

@keyframes aurora {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.animate-aurora {
  animation: aurora 60s linear infinite;
}
